form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form--div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 2rem;
  border: solid grey 1px;
  border-radius: 1rem;
}
