body {
  background-color: rgb(207, 221, 216);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(88, 88, 88);
  font-family: "Courier New", Courier, monospace;
}
.newActivity {
  background-color: rgb(228, 228, 228);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.delete-button {
  position: absolute;
  right: 20rem;
  border-radius: 20px;
}
li {
  list-style: none;
}
